input {
    width: 100%;
}

input[type=text], input[type=email] {
    border: 1px sold red;
    border-radius: 2px;
}

input[type=text]:focus, input[type=email]:focus {
   background-color: white;
}

input[type=submit], {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 35px;
    cursor: pointer;
    width: 100%;
}

legend {
	color: red;
	font-size: 24px;
	font-weight: bolder;
}

